#outer-container{
    padding: 50px;
    margin-top: 25px;
    margin-left: 75px;
    margin-right: 75px;
}

body{
    background-color: #606060;
}

#monPic{
    margin-left: auto;
    margin-right:auto;
    display:block;
}

#top-dex{
    overflow:hidden; 
    background-color:#FF0000;
    border-bottom:30px solid black; 
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
}

#stylized-name{
    float:left; 
    background-color: #3399ff; 
    padding: 25px;
    color:white; 
    font-size:50px;
    margin:75px;
    border-radius:15px;
    text-shadow: 1px 1px 0px #000000;
    border:3px solid white;
}

#med-dex{
    background-color:red; 
    padding: 25px;
}

#img-container{
    border-radius: 15px;
    margin-top: 20px;
    margin-bottom: 20px;
    margin-right:150px;
    margin-left:150px;
    background-color:#79c9ec;
    padding: 60px;
    border:40px solid #FFFFFF; 
    border-bottom-left-radius: 70px;
}

#data{
    margin-top:75px;
    margin-bottom: 20px;
    margin-right:150px;
    margin-left:150px;
    background-color:#79c9ec;
    text-align:center;
    padding: 15px;
    border-radius:5px;
}

.text{
    color:white;
    text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
}

.button{
    height:auto;
    background-color: #606060;
    border:none;
    color:white;
    padding:15px;
    margin-bottom:20px;
}

#prev{
    float:left;
}

#next{
    float:right;
}

.left{
    transform: rotate(135deg);
    -webkit-transform: rotate(135deg);
}

.right{
    transform: rotate(-45deg);
    -webkit-transform: rotate(-45deg);
}

.down{
    transform: rotate(45deg);
    -webkit-transform: rotate(45deg);
}

i {
    display: inline-block;
    padding: 3px;
}

.outerArrow{
    border: solid #7af99e;
    border-width: 0 5px 5px 0;
}

.innerArrow{
    border: solid #50d878;
    border-width: 0 5px 5px 0;
}

.downArrow{
    border: solid black;
    border-width: 0 5px 5px 0;
}

#downArrowRow{
    padding-bottom:20px;
}

button:hover {
    background-color:white;
    color:black;
}

.topSelect{
    display:inline-block;
    text-align:center;
    margin-left:2%;
    margin-right:2%;
    margin-top:5%;
}

#groupedSelectors{
    margin-left:auto;
    margin-right:auto;
    text-align:center;
    display:inline-block;
    width:100%;
}

.mainPageText{
    display:inline;
}

#familyTree{
    margin-left:auto;
    margin-right:auto;
}
#statDisplay{
    text-align:left;
}

.sameRow{
    padding-left:20px;
    padding-right: 20px;
}
