#Water{
    color:white;
    background-color: #6390F0;
    border-radius:5px;
    border-color:black;
    border-width:1px;
    border-style: solid;
    text-shadow: 1px 1px 0px #000000;
    display:inline;
    margin:auto;
    text-align:center;
    padding-right:3px;
    padding-bottom:2px;
    padding-left:1px;
}

#Psychic{
    color:white;
    background-color: #F95587;
    border-radius:5px;
    border-color:black;
    border-width:1px;
    border-style: solid;
    text-shadow: 1px 1px 0px #000000;
    display:inline;
    text-align:center;
    margin:auto;
    padding-right:2px;
    padding-bottom:2px;
    padding-left:1px;
}

#Fire{
    color:white;
    background-color: #EE8130;
    border-radius:5px;
    border-color:black;
    border-width:1px;
    border-style: solid;
    text-shadow: 1px 1px 0px #000000;
    display:inline;
    text-align:center;
    margin:auto;
    padding-right:3px;
    padding-bottom:2px;
    padding-left:1px;
}

#Normal{
    color:white;
    background-color: #A8A77A;
    border-radius:5px;
    border-color:black;
    border-width:1px;
    border-style: solid;
    text-shadow: 1px 1px 0px #000000;
    display:inline;
    text-align:center;
    margin:auto;
    padding-bottom:2px;
    padding-right:3px;
    padding-left:1px;
}

#Electric{
    color:white;
    background-color: #F7D02C;
    border-radius:5px;
    border-color:black;
    border-width:1px;
    border-style: solid;
    text-shadow: 1px 1px 0px #000000;
    display:inline;
    text-align:center;
    margin:auto;
    padding-bottom:2px;
    padding-right:2px;
    padding-left:1px;
}

#Grass{
    color:white;
    background-color: #7AC74C;
    border-radius:5px;
    border-color:black;
    border-width:1px;
    border-style: solid;
    text-shadow: 1px 1px 0px #000000;
    display:inline;
    text-align:center;
    margin:auto;
    padding-right:2px;
    padding-bottom:2px;
    padding-left:1px;
}

#Ice{
    color:white;
    background-color: #96D9D6;
    border-radius:5px;
    border-color:black;
    border-width:1px;
    border-style: solid;
    text-shadow: 1px 1px 0px #000000;
    display:inline;
    text-align:center;
    margin:auto;
    padding-bottom:2px;
    padding-right:3px;
    padding-left:1px;
}

#Fighting{
    color:white;
    background-color: #C22E28;
    border-radius:5px;
    border-color:black;
    border-width:1px;
    border-style: solid;
    text-shadow: 1px 1px 0px #000000;
    display:inline;
    text-align:center;
    margin:auto;
    padding-bottom:2px;
    padding-left:1px;
    padding-right:2px;
}

#Poison{
    color:white;
    background-color: #A33EA1;
    border-radius:5px;
    border-color:black;
    border-width:1px;
    border-style: solid;
    text-shadow: 1px 1px 0px #000000;
    display:inline;
    text-align:center;
    margin:auto;
    padding-bottom:2px;
    padding-left:1px;
    padding-right:1px;
}

#Ground{
    color:white;
    background-color: #E2BF65;
    border-radius:5px;
    border-color:black;
    border-width:1px;
    border-style: solid;
    text-shadow: 1px 1px 0px #000000;
    display:inline;
    text-align:center;
    margin:auto;
    padding-bottom:2px;
    padding-left:1px;
    padding-right:3px;
}

#Flying{
    color:white;
    background-color: #A98FF3;
    border-radius:5px;
    border-color:black;
    border-width:1px;
    border-style: solid;
    text-shadow: 1px 1px 0px #000000;
    display:inline;
    text-align:center;
    margin:auto;
    padding-right:2px;
    padding-bottom:2px;
    padding-left:1px;
}

#Bug{
    color:white;
    background-color: #A6B91A;
    border-radius:5px;
    border-color:black;
    border-width:1px;
    border-style: solid;
    text-shadow: 1px 1px 0px #000000;
    display:inline;
    text-align:center;
    margin:auto;
    padding-bottom:2px;
    padding-left:1px;
    padding-right:3px;
}

#Rock{
    color:white;
    background-color: #B6A136;
    border-radius:5px;
    border-color:black;
    border-width:1px;
    border-style: solid;
    text-shadow: 1px 1px 0px #000000;
    display:inline;
    text-align:center;
    margin:auto;
    padding-bottom:2px;
    padding-left:1px;
    padding-right:3px;
}

#Ghost{
    color:white;
    background-color: #735797;
    border-radius:5px;
    border-color:black;
    border-width:1px;
    border-style: solid;
    text-shadow: 1px 1px 0px #000000;
    display:inline;
    text-align:center;
    margin:auto;
    padding-bottom:2px;
    padding-left:1px;
    padding-right:2px;
}

#Dragon{
    color:white;
    background-color: #6F35FC;
    border-radius:5px;
    border-color:black;
    border-width:1px;
    border-style: solid;
    text-shadow: 1px 1px 0px #000000;
    display:inline;
    text-align:center;
    margin:auto;
    padding-bottom:2px;
    padding-left:1px;
    padding-right:2px;
}

#Dark{
    color:white;
    background-color: #705746;
    border-radius:5px;
    border-color:black;
    border-width:1px;
    border-style: solid;
    text-shadow: 1px 1px 0px #000000;
    display:inline;
    text-align:center;
    margin:auto;
    padding-bottom:2px;
    padding-left:1px;
    padding-right:3px;
}

#Steel{
    color:white;
    background-color: #B7B7CE;
    border-radius:5px;
    border-color:black;
    border-width:1px;
    border-style: solid;
    text-shadow: 1px 1px 0px #000000;
    display:inline;
    text-align:center;
    margin:auto;
    padding-bottom:2px;
    padding-left:1px;
    padding-right:2px;
}

.typeButton:hover{
    background-color:white;
    color:black;
}

.typeButton{
    color:white;
    background-color: #606060;
    border:none;
    border-radius:12px;
    margin-left:-8px;
}