<!DOCTYPE html>
<html>

    <head>
        <title>{{pageHeading}}</title>
        
        <link rel="icon" href="../static/images/favicon.ico">
        <link rel="stylesheet" type="text/css" href="../static/css/types.css">
        <link rel="stylesheet" type="text/css" href="../static/css/dex.css">
    </head>

    <body>

        <div align="center" id="groupSelectors">
            <select name="Gen 1" class="topSelect">
                {% for item in list1 %}
                <option>{{item}}</option>
                {% endfor %}
            </select>

            <select name="Gen 2" class="topSelect">
                    {% for item in list2 %}
                    <option>{{item}}</option>
                    {% endfor %}
            </select>

            <select name="Gen 3" class="topSelect">
                    {% for item in list3 %}
                    <option>{{item}}</option>
                    {% endfor %}
            </select>

            <select name="Gen 4" class="topSelect">
                    {% for item in list4 %}
                    <option>{{item}}</option>
                    {% endfor %}
            </select>

            <select name="Gen 5" class="topSelect">
                    {% for item in list5 %}
                    <option>{{item}}</option>
                    {% endfor %}
            </select>

        </div>


        <div id="outer-container">


            <div id="top-dex">
                <div id="stylized-name">{{name}}</div>
            </div>

            <div id="med-dex">
                <div id="img-container">
                    <div><img id="monPic" src={{imgLocation}}></div>

                </div>

                <div id="data">
                    
                    <div id="type">
                        <h1 id={{type1}}>{{type1}}</h1>
                        <h1 id={{type2}}>{{type2}}</h1>
                    </div>

                    <div id="abilities">
                            <h1 class="text">{{ability1}}</h1>
                            <h2 class="text">{{ability1Flavor}}</h2>

                            {% if ability2 %}
                                <h1 class="text">{{ability2}}</h1>
                                <h2 class="text">{{ability2Flavor}}</h2>
                            {% endif %}
                    
                            {% if hidden %}
                                <h1 class="text">Hidden Ability: {{hidden}}</h1>
                                <h2 class="text">{{hiddenFlavor}}</h2>
                            {% endif %}

                    </div>

                    <div>
                        <h1 class="text">Data: {{speciesFlavor}}</h1>
                    </div>

                </div>
            
            </div>
        
        

        </div>

        {% if prevNum>0 %}
            <a href="/{{prevNum}}">
                <button class="button" id="prev">
                    <i class="left outerArrow"></i>
                    <i class="left innerArrow"></i>
                    #{{prevNum}} 
                    {{prevName}}
                    <img src={{prevImg}}>
                </button>
            </a>
        {% endif %}

        {% if nextNum<649 %}
            <a href="/{{nextNum}}">
                <button class="button" id="next">
                    
                    #{{nextNum}}
                    
                    {{nextName}}
                    <img src={{nextImg}}>
                    <i class="right innerArrow"></i>
                    <i class="right outerArrow"></i>
                    
                </button>
            </a>
        {%endif%}

    </body>
</html>