<!DOCTYPE html>
<html>

    <head>
        <title>{{pageHeading}}</title>
        
        <link rel="icon" href="../static/images/favicon.ico">
        <link rel="stylesheet" type="text/css" href="../static/css/types.css">
        <link rel="stylesheet" type="text/css" href="../static/css/dex.css">
        <link rel="stylesheet" type="text/css" href="../static/css/stats.css">
        <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
        <link rel="stylesheet" 
        href="http://ajax.googleapis.com/ajax/libs/jqueryui/1.11.2/themes/smoothness/jquery-ui.css" />
        <script src="http://ajax.googleapis.com/ajax/libs/jqueryui/1.11.2/jquery-ui.min.js"></script>    
    </head>

    <body>

        <div id="searchBar">
            <input id="autocomplete" placeholder="Search by name...">
        </div>

        <div  id="groupedSelectors">
            <select name="Gen 1" class="topSelect" onchange="location=this.value">
                {% for item in list1 %}
                    <option value="/{{loop.index}}">{{item}} </option>
                {% endfor %}
            </select>

            <select name="Gen 2" class="topSelect" onchange="location=this.value">
                {% for item in list2 %}
                    <option value="/{{loop.index+151}}">{{item}}</option>
                {% endfor %}
            </select>

            <select name="Gen 3" class="topSelect" onchange="location=this.value">
                {% for item in list3 %}
                    <option value="/{{loop.index+251}}">{{item}}</option>
                {% endfor %}
            </select>

            <select name="Gen 4" class="topSelect" onchange="location=this.value">
                {% for item in list4 %}
                    <option value="/{{loop.index+386}}">{{item}}</option>
                {% endfor %}
            </select>

            <select name="Gen 5" class="topSelect" onchange="location=this.value">
                {% for item in list5 %}
                    <option value="/{{loop.index+493}}">{{item}}</option>
                {% endfor %}
            </select>

        </div>


        <div id="outer-container">


            <div id="top-dex">
                <div id="stylized-name">{{name}}</div>
            </div>

            <div id="med-dex">
                <div id="img-container">
                    <div><img id="monPic" src={{imgLocation}}></div>

                </div>

                <div id="data">
                    
                    <div id="type">
                        <h1 id={{type1}}>{{type1}}</h1>
                        <h1 id={{type2}}>{{type2}}</h1>
                    </div>

                    <div id="abilities">
                            <h1 class="text">{{ability1}}</h1>
                            <h2 class="text">{{ability1Flavor}}</h2>

                            {% if ability2 %}
                                <h1 class="text">{{ability2}}</h1>
                                <h2 class="text">{{ability2Flavor}}</h2>
                            {% endif %}
                    
                            {% if hidden %}
                                <h1 class="text">Hidden Ability: {{hidden}}</h1>
                                <h2 class="text">{{hiddenFlavor}}</h2>
                            {% endif %}

                    </div>

                    <div>
                        <h1 class="text">Data: {{speciesFlavor}}</h1>
                    </div>

                    <div id="statDisplay">
                        <table>
                            <tr>
                                <td><h1 class="text statText">HP: </h1></td> 
                                <td><h1 class="text statText">{{hp}}</h1></td>
                                <td><div class="{{hpClass}}" style="width:{{hp}}px;"></div></td>
                            </tr>
                    
                            <tr>
                                <td><h1 class="text statText">ATK: </h1></td>
                                <td><h1 class="text statText">{{atk}}</h1></td>
                                <td><div class="{{atkClass}}" style="width:{{atk}}px;"></div></td>
                            </tr>
                        
                            <tr>
                                <td><h1 class="text statText">SP. ATK: </h1></td> 
                                <td><h1 class="text statText">{{spAtk}}</h1></td>
                                <td><div class="{{spAtkClass}}" style="width:{{spAtk}}px;"></div></td>
                            </tr>

                            <tr>
                                <td><h1 class="text statText">DEF: </h1></td> 
                                <td><h1 class="text statText">{{defense}}</h1></td>
                                <td><div class="{{defenseClass}}" style="width:{{defense}}px;"></div></td>
                            </tr>

                            <tr>
                                <td><h1 class="text statText">SP. DEF: </h1></td> 
                                <td><h1 class="text statText">{{spDef}}</h1></td>
                                <td><div class="{{spDefClass}}" style="width:{{spDef}}px;"></div></td>
                            </tr>
                                    
                            <tr>
                                <td><h1 class="text statText">SPD: </h1></td> 
                                <td><h1 class="text statText">{{spd}}</h1></td>
                                <td><div class="{{spdClass}}" style="width:{{spd}}px;"></div></td>
                            </tr>

                        </table>
                    </div>

                    <div>
                        <!--Handles an edge case where order is 3-1-2-->
                        {% if ev_id==51 %}
                        <h1 class="text">Family tree:</h1>
                        <table id="familyTree">
                        
                        <tr>
                            <td><a href="/{{familyTuple[2][0]}}">
                                <img src="../static/sprites/gif/{{familyTuple[2][0]}}.gif"></a></td>
                        </tr>
                    
                        <tr>
                            <td><h3 class="text">{{familyTuple[2][1]|title}}</h3></td>
                        </tr>
                    
                        <tr>
                            <td id="downArrowRow"><i class="downArrow down"></i></td>
                        </tr>

                        <tr>
                            <td><a href="/{{familyTuple[0][0]}}">
                                <img src="../static/sprites/gif/{{familyTuple[0][0]}}.gif"></a></td>
                        </tr>
                        
                        <tr>
                            <td><h3 class="text">{{familyTuple[0][1]|title}}</h3></td>
                        </tr>
                        
                        <tr>
                            <td id="downArrowRow"><i class="downArrow down"></i></td>
                        </tr>

                        <tr>
                            <td><a href="/{{familyTuple[1][0]}}">
                                <img src="../static/sprites/gif/{{familyTuple[1][0]}}.gif"></a></td>
                        </tr>
                        
                        <tr>
                            <td><h3 class="text">{{familyTuple[1][1]|title}}</h3></td>
                         </tr>
                        

                        </table>

                        <!--Handles edge cases where last added is first chronologically-->
                        {% elif differentEvoOrder %}
                        <h1 class="text">Family tree:</h1>
                        <table id="familyTree">
                            {% if familyTuple[0][0]== 25 or familyTuple[0][0]== 35 or 
                                familyTuple[0][0]== 39 or familyTuple[0][0]== 183 %}
                            <tr>
                                <td><a href="/{{familyTuple[2][0]}}">
                                    <img src="../static/sprites/gif/{{familyTuple[2][0]}}.gif"></a></td>
                            </tr>
                            <tr>
                                <td><h3 class="text">{{familyTuple[2][1]|title}}</h3></td>
                            </tr>
                            {% else %}
                            <tr>
                                <td><a href="/{{familyTuple[1][0]}}">
                                    <img src="../static/sprites/gif/{{familyTuple[1][0]}}.gif"></a></td>
                            </tr>
                            <tr>
                                <td><h3 class="text">{{familyTuple[1][1]|title}}</h3></td>
                            </tr>
                            {% endif %}

                            <tr>
                                <td id="downArrowRow"><i class="downArrow down"></i></td>
                            </tr>
                            
                            <tr>
                                {% if familyTuple[0][0]<100 %}
                                <td><a href="/{{familyTuple[0][0]}}">
                                    <img src="../static/sprites/gif/0{{familyTuple[0][0]}}.gif"></a></td>
                                {% else %}
                                <td><a href="/{{familyTuple[0][0]}}">
                                    <img src="../static/sprites/gif/{{familyTuple[0][0]}}.gif"></a></td>
                                {% endif %}
                            </tr>
                            <tr>
                                <td><h3 class="text">{{familyTuple[0][1]|title}}</h3></td>
                            </tr>
                            {% if familyTuple|length ==3 %}
                            <tr>
                                <td id="downArrowRow"><i class="downArrow down"></i></td>
                            </tr>

                            {% if familyTuple[0][0]== 25 or familyTuple[0][0]== 35 or 
                                familyTuple[0][0]== 39 or familyTuple[0][0]== 183 %}
                            <tr>
                                {% if familyTuple[1][0]<100 %}
                                <td><a href="/{{familyTuple[1][0]}}">
                                    <img src="../static/sprites/gif/0{{familyTuple[1][0]}}.gif"></a></td>
                                {% else %}
                                <td><a href="/{{familyTuple[1][0]}}"></a>
                                    <img src="../static/sprites/gif/{{familyTuple[1][0]}}.gif"></a></td>
                                {% endif %}
                            </tr>
                            <tr>
                                <td><h3 class="text">{{familyTuple[1][1]|title}}</h3></td>
                            </tr>
                                {% else %}
                            <tr>
                                {% if familyTuple[2][0]<100 %}
                                <td><a href="/{{familyTuple[2][0]}}">
                                    <img src="../static/sprites/gif/0{{familyTuple[2][0]}}.gif"></a></td>
                                {% else %}
                                <td><a href="/{{familyTuple[2][0]}}">
                                    <img src="../static/sprites/gif/{{familyTuple[2][0]}}.gif"></a></td>
                                {% endif %}
                            </tr>
                            <tr>
                                <td><h3 class="text">{{familyTuple[2][1]|title}}</h3></td>
                            </tr>
                            {% endif %}
                            {% endif %}
                        </table>

                        <!--Handles most normal cases-->
                        {% elif (familyTuple|length==3 or familyTuple|length==2) and not oneTwoSplit %}
                            <h1 class="text">Family tree:</h1>
                            <table id="familyTree">
                                {% for item in familyTuple %}
                                <tr>
                                    {% if item[0] < 10 %}
                                    <td><a href="/{{item[0]}}">
                                        <img src="../static/sprites/gif/00{{item[0]}}.gif"></a></td>
                                    {% elif item[0] < 100 %}
                                    <td><a href="/{{item[0]}}">
                                        <img src="../static/sprites/gif/0{{item[0]}}.gif"></a></td>
                                    {% else %}
                                    <td><a href="/{{item[0]}}">
                                        <img src="../static/sprites/gif/{{item[0]}}.gif"></a></td>
                                    {% endif %}
                                </tr>
                                <tr>
                                    <td><h3 class="text">{{item[1]|title}}</h3></td>
                                </tr>
                                    {% if loop.index0 < familyTuple|length-1 %}
                                    <tr>
                                        <td id="downArrowRow"><i class="downArrow down"></i></td>
                                    </tr>
                                    
                                    {% endif %}
                                {% endfor %}
                            </table>

                        <!--Handle edge case: 1 monster into 3 separate monsters-->
                        {% elif ev_id==47%}
                        <h1 class="text">Family tree:</h1>
                            <table id="familyTree">
                                <tr>
                                    <td colspan=3>
                                        <a href="/236">
                                        <img src="../static/sprites/gif/236.gif"></a></td>
                                </tr>
                                <tr>
                                    <td colspan=3><h3 class="text">{{familyTuple[2][1]|title}}</h3></td>
                                </tr>
                                <tr>
                                    <td colspan=3 id="downArrowRow"><i class="downArrow down"></i></td>
                                </tr>

                                <tr>
                                    <td class="sameRow">
                                            <a href="/106">
                                        <img src="../static/sprites/gif/106.gif"></a></td>

                                    <td class="sameRow">
                                            <a href="/107">
                                        <img src="../static/sprites/gif/107.gif"></a></td>

                                    <td class="sameRow">
                                            <a href="/237">
                                        <img src="../static/sprites/gif/237.gif"></a></td>
                                </tr>
                                <tr>
                                    <td><h3 class="text sameRow">{{familyTuple[0][1]|title}}</td>
                                    <td><h3 class="text sameRow">{{familyTuple[1][1]|title}}</td>
                                    <td><h3 class="text sameRow">{{familyTuple[3][1]|title}}</td>
                                </tr>
                            </table>
                        
                        <!--Handle most split evolutions-->
                        {% elif familyTuple|length>=3 and ev_id!=135 and ev_id!=67 and (not oneTwoSplit)%}
                            <h1 class="text">Family tree:</h1>
                            <table id="familyTree">
    
                            <tr>
                                <td colspan="2">
                                    {% if familyTuple[0][0]<100 %}
                                    <a href="/{{familyTuple[0][0]}}">
                                    <img src="../static/sprites/gif/0{{familyTuple[0][0]}}.gif"></a></td>
                                    {%else%}
                                    <a href="/{{familyTuple[0][0]}}">
                                    <img src="../static/sprites/gif/{{familyTuple[0][0]}}.gif"></a></td>
                                    {%endif%}
                            </tr>
                            <tr>
                                <td colspan="2"><h3 class="text">{{familyTuple[0][1]|title}}</td>
                            </tr>
                            <tr>
                                <td colspan="2" id="downArrowRow"><i class="downArrow down"></i></td>
                            </tr>

                            <tr>
                                <td colspan="2">
                                        {% if familyTuple[1][0]<100 %}
                                        <a href="/{{familyTuple[1][0]}}">
                                        <img src="../static/sprites/gif/0{{familyTuple[1][0]}}.gif"></a>
                                    </td>
                                        {%else%}
                                        <a href="/{{familyTuple[1][0]}}">
                                        <img src="../static/sprites/gif/{{familyTuple[1][0]}}.gif"></a></td>
                                        {%endif%}
                            </tr>
                            <tr>
                                <td colspan="2"><h3 class="text">{{familyTuple[1][1]|title}}</td>
                            </tr>
                            <tr>
                                <td colspan="2" id="downArrowRow"><i class="downArrow down"></i></td>
                            </tr>

                            <tr>
                                <td class="sameRow">
                                    {% if familyTuple[2][0]<100 %}
                                    <a href="/{{familyTuple[2][0]}}">
                                    <img src="../static/sprites/gif/0{{familyTuple[2][0]}}.gif"></a></td>
                                    {%else%}
                                    <a href="/{{familyTuple[2][0]}}">
                                    <img src="../static/sprites/gif/{{familyTuple[2][0]}}.gif"></a></td>
                                    {%endif%}
                                <td class="sameRow">
                                        <a href="/{{familyTuple[3][0]}}">
                                    <img src="../static/sprites/gif/{{familyTuple[3][0]}}.gif"></a></td>
                            </tr>
                            <tr>
                                <td ><h3 class="text">{{familyTuple[2][1]|title}}</td>
                                <td ><h3 class="text">{{familyTuple[3][1]|title}}</td>
                            </tr>
                        </table>

                        <!--Need to handle 1->2, and 1>3 cases.-->
                        {% elif oneTwoSplit%}
                        <h1 class="text">Family tree:</h1>
                        <table id="familyTree">
                        <tr>
                            {% if familyTuple[0][0]<100 %}
                                <td colspan="2"><a href="/{{familyTuple[0][0]}}">
                                    <img src="../static/sprites/gif/0{{familyTuple[0][0]}}.gif"></a></td>
                            {%else%}
                                <td colspan="2"><a href="/{{familyTuple[0][0]}}">
                                    <img src="../static/sprites/gif/{{familyTuple[0][0]}}.gif"></a></td>
                            {%endif%}
                        </tr>
                            <td colspan="2"><h3 class="text">{{familyTuple[0][1]|title}}</td>                        
                        <tr>
                            <td colspan="2" id="downArrowRow"><i class="downArrow down"></i></td>
                        </tr>

                        <tr>
                            <td class="sameRow">
                                {% if familyTuple[1][0]<100 %}
                                <a href="/{{familyTuple[1][0]}}">
                                    <img src="../static/sprites/gif/0{{familyTuple[1][0]}}.gif"></a>
                                {% else %}
                                <a href="/{{familyTuple[1][0]}}">
                                    <img src="../static/sprites/gif/{{familyTuple[1][0]}}.gif"></a>
                                {%endif%}
                            </td>
                            <td class="sameRow">
                                    <a href="/{{familyTuple[2][0]}}">
                                <img src="../static/sprites/gif/{{familyTuple[2][0]}}.gif"></a>
                            </td>
                        </tr>
                        <tr>
                            <td class="sameRow"><h3 class="text">{{familyTuple[1][1]|title}}</td>
                            <td class="sameRow"><h3 class="text">{{familyTuple[2][1]|title}}</td>
                        </tr>
                        </table>
                        

                        <!--Handle edge case: 2 completely different evolution paths-->
                        {% elif familyTuple|length>3 and ev_id==135 %}
                        <h1 class="text">Family tree:</h1>
                        <table id="familyTree">
                            <tr>
                                <td colspan="2"><a href="/265">
                                    <img src="../static/sprites/gif/265.gif"></a></td>
                            </tr>
                            <tr>
                                <td colspan="2"><h3 class="text">{{familyTuple[0][1]|title}}</td>
                            </tr>
                            <tr>
                                <td colspan="2" id="downArrowRow"><i class="downArrow down"></i></td>
                            </tr>

                            <tr>
                                <td class="sameRow"><a href="/266">
                                    <img src="../static/sprites/gif/266.gif"></a></td>
                                <td class="sameRow"><a href="/268">
                                    <img src="../static/sprites/gif/268.gif"></a></td>
                            </tr>
                            <tr>
                                <td><h3 class="text">{{familyTuple[1][1]|title}}</td>
                                <td><h3 class="text">{{familyTuple[3][1]|title}}</td>
                            </tr>
                            <tr>
                                <td id="downArrowRow"><i class="downArrow down"></i></td>
                                <td id="downArrowRow"><i class="downArrow down"></i></td>
                            </tr>

                            <tr>
                                <td class="sameRow"><a href="/267">
                                    <img src="../static/sprites/gif/267.gif"></a></td>
                                <td class="sameRow"><a href="/269">
                                    <img src="../static/sprites/gif/269.gif"></a></td>
                            </tr>
                            <tr>
                                <td><h3 class="text">{{familyTuple[2][1]|title}}</td>
                                <td><h3 class="text">{{familyTuple[4][1]|title}}</td>
                            </tr>


                        </table>
                        
                        <!--Handle edge case: 6 different evolutions-->
                        {% elif familyTuple|length>3 and ev_id==67 %}
                        <h1 class="text">Family tree:</h1>
                        <table id="familyTree">
                            <tr>
                                <td colspan="7"><a href="/133">
                                    <img src="../static/sprites/gif/133.gif"></a></td>
                            </tr>
                            <tr>
                                <td colspan="7"><h3 class="text">{{familyTuple[0][1]|title}}</td>
                            </tr>
                            <tr>
                                <td colspan="7" id="downArrowRow"><i class="downArrow down"></i></td>
                            </tr>

                            <tr>
                                <td class="sameRow"><a href="/134">
                                    <img src="../static/sprites/gif/134.gif"></a></td>
                                <td class="sameRow"><a href="/135">
                                    <img src="../static/sprites/gif/135.gif"></a></td>
                                <td class="sameRow"><a href="/136">
                                    <img src="../static/sprites/gif/136.gif"></a></td>
                                <td class="sameRow"><a href="/196">
                                    <img src="../static/sprites/gif/196.gif"></a></td>
                                <td class="sameRow"><a href="/197">
                                    <img src="../static/sprites/gif/197.gif"></a></td>
                                <td class="sameRow"><a href="/470">
                                    <img src="../static/sprites/gif/470.gif"></a></td>
                                <td class="sameRow"><a href="/471">
                                    <img src="../static/sprites/gif/471.gif"></a></td>

                            </tr>
                            <tr>
                                <td><h3 class="text">{{familyTuple[1][1]|title}}</td>
                                <td><h3 class="text">{{familyTuple[2][1]|title}}</td>
                                <td><h3 class="text">{{familyTuple[3][1]|title}}</td>
                                <td><h3 class="text">{{familyTuple[4][1]|title}}</td>
                                <td><h3 class="text">{{familyTuple[5][1]|title}}</td>
                                <td><h3 class="text">{{familyTuple[6][1]|title}}</td>
                                <td><h3 class="text">{{familyTuple[7][1]|title}}</td>
                            </tr>
                        </table>
                        {% endif %}
                    </div>

                </div>
            
            </div>
        
        

        </div>

        {% if prevNum>0 %}
            <a href="/{{prevNum}}">
                <button class="button" id="prev">
                    <i class="left outerArrow"></i>
                    <i class="left innerArrow"></i>
                    #{{prevNum}} 
                    {{prevName}}
                    <img src={{prevImg}}>
                </button>
            </a>
        {% endif %}

        {% if nextNum<=649 %}
            <a href="/{{nextNum}}">
                <button class="button" id="next">
                    
                    #{{nextNum}}
                    
                    {{nextName}}
                    <img src={{nextImg}}>
                    <i class="right innerArrow"></i>
                    <i class="right outerArrow"></i>
                    
                </button>
            </a>
        {%endif%}

        <script defer src="../static/js/script.js"> </script>
        
    </body>
</html>